---
import Layout from "../layouts/Layout.astro";
import CalendarGithub from "../components/CalendarGithub.astro";
import img from "../../public/img/imagenPortada.jpeg"
---

<Layout>
  <section
    class="min-h-screen flex flex-col items-center justify-center text-white px-4 text-center bg-[url('../../public/img/bg.png')] bg-cover bg-gray-900 bg-center bg-no-repeat relative"
  >
      <h1>Eduardo Anthonny Mariños Vergaray</h1>
      <h2>Ingeniero de Sitemas Computacionales</h2>
      <p>
        Recién egresado con 24 años, buscando aplicar mis habilidades en
        desarrollo y análisis de sistemas para construir productos innovadores y
        de alto impacto.
      </p>
    <div>
      <a href="">Ver mis proyectos</a>
      <a href="">Contactame </a>
      <a href="">Descarga mi CV </a>
    </div>
    <div>
      <a href="">G</a>
      <a href="">L</a>
    </div>
  </section>
  <CalendarGithub />
</Layout>
