---

---

<header class="fixed top-0 left-0 w-full shadow-md z-50 font-[Roboto]
      duration-300"> 
   <div class="max-w-7xl mx-auto px-6 py-3 flex justify-between items-center text-white">
     <nav class="space-x-12 gap-16 max-md:hidden ">
        <a href="/">Inicio</a>
        <a href="About">Sobre mí</a>
        <a href="experience">Experiencia</a>
        <a href="projects">Proyectos</a>
        <a href="Talk">Hablemos</a>
    </nav>
   </div>
</header>