---

---

<header class="fixed top-0 w-full z-50 bg-gray-900/70 backdrop-blur-sm text-white">
  <nav class="flex justify-center items-center gap-10 md:gap-28 py-4 px-4 md:px-8 font-medium">
    <a href="/inicio" class="hover:text-cyan-400 transition-colors duration-300">Inicio</a>
    <a href="/About" class="hover:text-cyan-400 transition-colors duration-300">Sobre mí</a>
    <a href="/experience" class="hover:text-cyan-400 transition-colors duration-300">Experiencia</a>
    <a href="/projects" class="hover:text-cyan-400 transition-colors duration-300">Proyectos</a>
    <a href="/Talk" class="hover:text-cyan-400 transition-colors duration-300">Hablemos</a>
  </nav>
</header>
<div class="p-7  w-full z50 bg-gray-900/70 backdrop-blur-sm"></div>